.MainContainer{
  min-height: calc(100vh - 160px);
  margin: 0 auto 0 auto;
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
}
  .InputsContainer{
    position: relative;
    left: auto;
   width: 100%;
   height: fit-content;
   margin: 20px auto;
}

.InputsContainer h2{
   margin: auto ;
   padding: 20px;
   font-size: 2rem;
   font-weight: 400;
   color: #1E1e1e;
    }

.MainContainer .Input{
    width: 100%;
    padding: 10px;
    margin: 15px auto 25px auto;
    border: none;
    border-radius: .25rem;;
    box-shadow: 0 0 5px 1px rgb(155, 154, 154);
    font-size: 1.2rem;
    outline: none;
    position: relative;
     }
.InputDescription{
    width: 100%;
    padding: 10px;
    margin: 15px auto 25px auto;
    border: none;
    border-radius: .25rem;;
    box-shadow: 0 0 5px 1px rgb(155, 154, 154);
    font-size: 1.2rem;
    outline: none;
    height: 300px;
    overflow-y: auto;
    resize: none;
}

.Form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      }

.InputContainer{
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.InputLabel{
  align-self: flex-start;
  font-weight: 500;
  margin-top: 10px;
}
.InputImgPathContainer{
  display: none;
}
.FileInput::-webkit-file-upload-button{
  visibility: hidden;
}
.FileInput::before {
  content: 'Įkelti pristatančią nuotrauką';
  align-items: center;
  background-color: #f1f1f1;
  border: 2.4px solid #A6F205;
  border-radius: .25rem;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: center;
  margin: 0 ;
  padding: 8px 60px;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  outline: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 57%;
  position: absolute;
  left: 0;
  word-wrap: break-word;
}
.FileInput:hover::before {
  border-color: #A6F205;
  background-color: #A6F205;
  color: black;
}

.ImageContainer{
  width: 80%;
  min-height: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  border: none;
  border-radius: .25rem;;
  box-shadow: 0 0 5px 1px rgb(155, 154, 154);
  background-color: white;
}
.Image{
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  height: 99%;
}
.ImageNone{
  display: none;
}
.ButtonContainer{
        margin: 70px;
      }
.FieldArrayMain{
  width: 80%;
  margin-top: 20px;
}
.FieldArray{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.FieldArray .Input{
 margin-left: 0;
 margin: 25px 20px 25px 0;
}
.ArrayButtonContainer{
  position: relative;
  margin-bottom: 20px;
}
.ErrorContainer{
  position: absolute;
  height: fit-content;
  color: rgb(204, 2, 2);
  font-size: 1rem;
  font-weight: 700;
  top: 90px;
  margin: 0.4rem auto;
}

.ErrDescription{
  position: absolute;
  height: fit-content;
  color: rgb(204, 2, 2);
  font-size: 1rem;
  margin: 0.3rem auto 0;
  font-weight: 700;
  margin: 0.4 auto;
  top: 345px;
}


.Error{
  top: 80px;
  margin: 0 auto;
}
.ErrArray{
  position: absolute;
  height: fit-content;
  color: rgb(204, 2, 2);
  font-size: 1rem;
  margin: 0.3rem auto 0;
  font-weight: 700;
  margin: 0 auto;
  top: 50px;
}
.ErrorContainerLast{
  position: absolute;
  top: 800px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: fit-content;
  color: rgb(204, 2, 2);
  font-size: 1rem;
  margin: 0.3rem auto ;
  font-weight: 700;
}
.Close{
  border: 2px solid #A6F205;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 2rem;
  font-weight: 500;
  background-color: whitesmoke;
  margin-left: 80%;
  margin-top: 40px;
}
.Close:hover{
  background-color: #A6F205;
  transition: all 0.2s ease-in;
}
@media screen and (min-width: 740px){
  .MainContainer{
    height: fit-content;
    width: 100%;
    background-size: cover;
    margin: 0 auto 0 auto;
    }
    .InputsContainer{
      width: 80%;
      height: fit-content;
      padding: 0;
      box-shadow: 0 0 5px 1px rgb(155, 154, 154);
     }
     .InputsContainer h2{
      margin: auto ;
      padding-top: 0;
      font-size: 2.5rem;
      font-weight: 400;
      color: #1E1e1e;
       }
       .FileInput::before {
        left: 5%;
        width: fit-content;
      }
}
@media (min-width: 820px) {
  .MainContainer{
    margin: 80px auto 0 auto;
    }
    .FileInput::before {
      left: 20%;
    }
}
@media screen and (min-width: 1280px){
  .MainContainer{
    height: fit-content;
    width: 100%;
    background-size: cover;
    margin: 80px auto 0 auto;
    }
  .InputsContainer{
   width: 80%;
   height: fit-content;
  }
  .ImageContainer{
    width: 500px;
    min-height: 400px;
    height: fit-content;
  }
  .Image{
    width: 500px;
    object-fit: cover;
    overflow: hidden;
  }
  .FileInput::before {
    left: 25%;
  }
}
@media screen and (min-width: 1450px){
 
  .FileInput::before {
    left: 35%;
  }
}