.MainContainer{
  min-height: calc(100vh - 160px);
  margin: 0 auto;
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 20px;
}
.BtnContainer{
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: flex-start;
  width: 85%;
  margin: 20px auto;
}
.BtnContainer h2{
   margin-right: 20px;
   margin-bottom: 20px;
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   font-weight: 600;
}
.BtnContainer a{
  text-decoration: none;
}

table th, table td{ 
  padding: 4px 8px;
}
table thead tr th{
  border-bottom: 1px solid #ccd0d4;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Table{
  height: fit-content;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #ccd0d4;
}
.Thead{
  line-height: 2em;
  background-color: #f1f1f1;
  border-bottom: 2px solid #ccd0d4;
}
@media screen and (min-width: 650px) {
  .Table{
    width: 85%;
    text-indent: 10px;
  }
}
@media screen and (min-width: 821px) {
  .MainContainer{
    min-height: calc(100vh - 160px);
    margin: 80px auto 0 auto;
  }
}
@media screen and (min-width: 1240px) {
  .Table{
    width: 80%;
  }
  .BtnContainer{
    width: 80%;
  }
}